.movie {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.movie img {
    width: 150px;
    height: auto;
}

.movie h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #0b2e13;
    text-transform: uppercase;
    margin-top: 40px;
}

.main-nav {
    float: right;
    display: flex;
}

.main-nav a {
    text-decoration: none;
    color: #0b2e13;
    text-transform: uppercase;
    margin-left: 40px;
}

.movies {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer {
    margin-top: 100px;
}